{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/error-summary/macro.html' import govukErrorSummary -%}
{%- from "govuk_frontend_jinja/components/date-input/macro.html" import govukDateInput -%}
{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% block pageTitle %}{%- if form and form.errors %}Error: {% endif -%}Example form – GOV.UK Frontend WTForms Demo{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if form.errors %}
            {{ govukErrorSummary(wtforms_errors(form)) }}
        {% endif %}

        <h1 class="govuk-heading-xl">DISCO Data Prep</h1>

<form action="/" method="post" novalidate>
        {{ form.csrf_token }}

{{ form.disco_form(params={
  'type': 'string',
             'autocomplete': 'string',
             'spellcheck': false
           }) }}

           {{ form.start_date(params={
             'type': 'string',
             'autocomplete': 'string',
             'spellcheck': false
           }) }}

           {{ form.end_date(params={
             'type': 'string',
             'autocomplete': 'string',
             'spellcheck': false
           }) }}

           {{ form.submit }}
       </form>

    </div>
</div>
{% endblock %}